assets/*
!assets/.htaccess
!assets/.gitkeep
exported/excel/*
!exported/excel/index.php
exported/pdf/*
!exported/pdf/index.php
exported/sql/*
!exported/sql/index.php
resources/*
protected/runtime/*
protected/vendor/*
protected/application.xml
themes/*
!themes/pages
.classpath
.vscode
.github
error_log
access_log
.DS_STORE
.user.ini
.ftpquota
composer.lock
node_modules
public
storage
vendor
bootstrap
.env
LICENSE
package-lock.json
.phpunit.cache
.phpunit.result.cache
phpunit.xml
